# Data 201

Data Wrangling, S2 2019

## Assignement 2

### 20% of final grade

## Due date: 1pm Tuesday 1 October 2019

The assignment must be submitted on the DATA 201 and 422 Learn page and should be **your own pair** (or group of three if we are odd) **work**. Avoid plagiarism: if you are not sure what may constitute code plagiarism, read this http://web.science.mq.edu.au/~mtaylor/ponline/index.php?id=source-code-plagiarism. Remember, when in doubt **declare your sources**.  
As a general rule, late submission are **highly** unsuggested. The pace of the course is very quick, and you don't want to be working on this too long, as you would have less time for other assignments. I suggest you to submit what you have ready by the time the assignment is due, even if it is not everything we required. For any particular problem, please contact [Thomas Li](thomas.li@canterbury.ac.nz) or [Giulio Dalla Riva](giulio.dallariva@canterbury.ac.nz) or TAs.


## Instruction

### Total: 20 marks.

For this assignment you will work with data from the web. Your goal is to scrape it or request it, wrangle it, produce some plotting, in order to demonstrate that you are able to use the functions, plotting, and markdown format we have been learning.  
You shall hand in your work as a jupyter R notebook comprehending the code, the plots and, **very important**, enough comments and explanations for us to understand what you did, how you did it, and why you did it. Remember: better comments, means better marks.  
You can either modify this notebook or write a new one from scratch.

Do use the tidyverse syntax that's introduced in class and labs. If in doubt, refresh the lab material 1 to 7.

### Task (a): scrape it (5 marks)

Identify a website page showing information you find interesting. The information should be presented across more than one page. Select one of this pages (the rest is for later) and using `rvest` (and the suit of `tidyverse` libraries we used so far, plus any other one you may need) get the html into R.

In [472]:
library(rvest)
library(tidyverse)
library(magrittr) # better handling of pipes
library(purrr) # to work with lists and map functions
library(glue) # to paste strings
library(stringr) # to hand strings
#IRdisplay::display_html('<iframe width="700" height="315" src="http://worldpopulationreview.com/countries/new-zealand-population/" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>')

In [473]:
#get a region name 
url_titles <- "https://www.tvnz.co.nz/one-news/weather-forecast" # this is the base url from where the scraping starts
read_html(url_titles)%>%
    html_nodes(".locationSelectDropdownItems")%>%
    html_nodes("ul")%>%
    html_nodes("li")%>%
    html_text()

 [1] "Auckland"         "Dannevirke"       "Dargaville"       "Gisborne"
 [5] "Hamilton"         "Hastings"         "Kaitaia"          "Levin"
 [9] "Masterton"        "Napier"           "New Plymouth"     "Paihia"
[13] "Palmerston North" "Paraparaumu"      "Rotorua"          "Taumarunui"
[17] "Taupō"            "Tauranga"         "Te Kuiti"         "Thames"
[21] "Tokoroa"          "Whanganui"        "Wellington"       "Whakatāne"
[25] "Whangārei"        "Alexandra"        "Ashburton"        "Blenheim"
[29] "Christchurch"     "Dunedin"          "Gore"             "Greymouth"
[33] "Hokitika"         "Invercargill"     "Kaikōura"         "Motueka"
[37] "Nelson"           "Oamaru"           "Queenstown"       "Reefton"
[41] "Timaru"           "Wanaka"           "Westport"

In [489]:
#get a current temperature of chistchurch for today 
read_html("https://www.tvnz.co.nz/one-news/weather-forecast.christchurch.html")%>%
           html_node(".forecast.observation.active")%>%
           html_node(".current")%>%
           html_text()

[1] "5°"

In [475]:
#get a maximum temperature of chistchurch for today
read_html("https://www.tvnz.co.nz/one-news/weather-forecast.christchurch.html")%>%
    html_node(".forecast.observation.active")%>%
    html_node(".max")%>%
    html_text()

[1] "11°"

In [476]:
#get a minimum temperature of chistchurch for today
read_html("https://www.tvnz.co.nz/one-news/weather-forecast.christchurch.html")%>%
    html_node(".forecast.observation.active")%>%
    html_node(".min")%>%
    html_text()

[1] "2°"

In [500]:
read_html("https://www.tvnz.co.nz/one-news/weather-forecast.christchurch.html")%>%
    html_node(".forecast.observation.active")%>%
    html_node(".min")%>%
    html_text()

[1] "2°"

In [515]:
paste("//div[@data-id = ",Sys.Date(),"]",sep = "'")

[1] "//div[@data-id = '2019-10-01']"

In [528]:
#https://qiita.com/rmecab/items/9612f55097fa2f6701d8
#http://cse.naro.affrc.go.jp/takezawa/r-tips/r/17.html
#getting weather for tommorow
read_html("https://www.tvnz.co.nz/one-news/weather-forecast.christchurch.html")%>%
    html_node(xpath = paste("//div[@data-id = ",Sys.Date()+1,"]",sep = "'"))%>%
    html_node(".max")%>%
    html_text()

[1] "13°"

In [539]:
#https://qiita.com/rmecab/items/9612f55097fa2f6701d8
#http://cse.naro.affrc.go.jp/takezawa/r-tips/r/17.html
#getting weather for tommorow
read_html("https://www.tvnz.co.nz/one-news/weather-forecast.christchurch.html")%>%
    html_node(xpath = paste("//div[@data-id = ",Sys.Date()+1,"]",sep = "'"))%>%
    html_node(".min")%>%
    html_text()

[1] "3°"

In [542]:
#https://qiita.com/rmecab/items/9612f55097fa2f6701d8
#http://cse.naro.affrc.go.jp/takezawa/r-tips/r/17.html
#getting weather for the day after tomorrow
read_html("https://www.tvnz.co.nz/one-news/weather-forecast.christchurch.html")%>%
    html_node(xpath = paste("//div[@data-id = ",Sys.Date()+2,"]",sep = "'"))%>%
    html_node(".max")%>%
    html_text()

[1] "11°"

In [544]:
#https://qiita.com/rmecab/items/9612f55097fa2f6701d8
#http://cse.naro.affrc.go.jp/takezawa/r-tips/r/17.html
#getting weather for tommorow
read_html("https://www.tvnz.co.nz/one-news/weather-forecast.christchurch.html")%>%
    html_node(xpath = paste("//div[@data-id = ",Sys.Date()+2,"]",sep = "'"))%>%
    html_node(".min")%>%
    html_text()

[1] "0°"

### Task (b): wrangle it (5 marks)


Working on the page from task (a), transform the data you collected into relational data model (that is, one or more data frames). WARNING: you will need to think and motivate how you are doing this in terms of the **data model** you are trying to build; just throwing everything in a table is not enough.

In [552]:
get_weather <- function(place_name){
    
  #if place_name if not specified then it will get the location instead 
  url <- glue("https://www.tvnz.co.nz/one-news/weather-forecast.{place_name}.html")
  
  list_of_regions <- 
    url_titles <- "https://www.tvnz.co.nz/one-news/weather-forecast" # this is the base url from where the scraping starts
    
read_html(url_titles)%>%
    html_nodes(".locationSelectDropdownItems")%>%
    html_nodes("ul")%>%
    html_nodes("li")%>%
    html_text()
  
  weather <- tibble(place = place_name,
                       current_temp = read_html(url)%>%
                       html_node(".forecast.observation.active") %>%
                       html_node(".current")%>%
                       html_text(),
                    
                       max_temp_today = read_html(url)%>%
                       html_node(".forecast.observation.active")%>%
                       html_node(".max")%>%
                       html_text(),
                       
                       min_temp_toady = read_html(url)%>%
                       html_node(".forecast.observation.active")%>%
                       html_node(".min")%>%
                       html_text(),
                    
                       max_temp_tomorrow = read_html(url)%>%
                       html_node(xpath = paste("//div[@data-id = ",Sys.Date()+1,"]",sep = "'"))%>%
                       html_node(".max")%>%
                       html_text(),
                    
                       min_temp_tomorrow = read_html(url)%>%
                       html_node(xpath = paste("//div[@data-id = ",Sys.Date()+1,"]",sep = "'"))%>%
                       html_node(".min")%>%
                       html_text(),
                    
                       max_temp_after_2days = read_html(url)%>%
                       html_node(xpath = paste("//div[@data-id = ",Sys.Date()+2,"]",sep = "'"))%>%
                       html_node(".max")%>%
                       html_text(),
                    
                       min_temp_after_2days = read_html(url)%>%
                       html_node(xpath = paste("//div[@data-id = ",Sys.Date()+2,"]",sep = "'"))%>%
                       html_node(".min")%>%
                       html_text(),
                       
                       max_temp_after_3days = read_html(url)%>%
                       html_node(xpath = paste("//div[@data-id = ",Sys.Date()+3,"]",sep = "'"))%>%
                       html_node(".max")%>%
                       html_text(),
                    
                       min_temp_after_3days = read_html(url)%>%
                       html_node(xpath = paste("//div[@data-id = ",Sys.Date()+3,"]",sep = "'"))%>%
                       html_node(".min")%>%
                       html_text(),
                        
                       
                     ) 
  
  return(weather)
}

In [553]:
get_weather("christchurch")

  place        current_temp max_temp_today min_temp_toady max_temp_tomorrow
1 christchurch 5°           11°            2°             13°
  min_temp_tomorrow max_temp_after_2days min_temp_after_2days
1 3°                11°                  0°
  max_temp_after_3days min_temp_after_3days
1 18°                  6°

### Task (c): automate it (5 marks)

Now it's the time to scrape everything else in the website. Turn your code for tasks (a) and (b) into a function and using `purrr` (and its `map_` functions, possibly in combination with `possibly`) apply that function to all the pages you are interested in (as we have done in lab 6); the output of the task should be a relation dataset (i.e., one or more dataframes, and if more than one, explicit their relationships).

In [481]:
get_weather <- function(place_name){
    
  #if place_name if not specified then it will get the location instead 
  url_title <- glue("https://www.tvnz.co.nz/one-news/weather-forecast.{place_name}.html")
  
  weather <- tibble(place = place_name,
                       current_temp = read_html(url_titles)%>%
                       html_node(".forecast.observation.active") %>%
                       html_node(".current")%>%
                       html_text(),
                    
                       max_temp = read_html(url_titles)%>%
                       html_node(".forecast.observation.active")%>%
                       html_node(".max")%>%
                       html_text(),
                       
                       min_temp = read_html(url_titles)%>%
                       html_node(".forecast.observation.active")%>%
                       html_node(".min")%>%
                       html_text()
                        
                       
                     ) 
  
  return(weather)
}

### Task (d): plot it (2 marks)

Use graphics (via `ggplot`) to represent the data you collected in a meaningful way.

In [482]:
# your answer here

### Task (e): APIs (2 marks)

Identify a web service offering data through an API. Access the API using `httr` and collect the information you care about. Convert the data into a dataframe (or more than one). Represent it graphically in a meaningful way.

In [483]:
# your answer here

### Comment, explain and present the work in a clear way (1 marks)